<% if admin_signed_in?%>
	<%= link_to 'Go to Readers', readers_path %> | 
<% end %>

<% if author_signed_in? || reader_signed_in? || admin_signed_in?%> 
  <%= link_to 'Go to Articles', articles_path %>
<% else %>
	<p> Please Sign in to Access the Dashboard </p>
<% end %>
