<div class="container">
  <% if reader_signed_in? || author_signed_in?%>
  	<%= link_to 'Go to Articles', articles_path %>
  <% elsif admin_signed_in?%>
  	<%= link_to 'Go to Dashboard', readers_path %>
  <% end %>  
  
</div>